# Read complete d3d folder

In [1]:
from JulesD3D.D3DModel import D3DModel

In [2]:
enc_test_file = "/Users/julesblom/Dropbox/TU/Master/Thesis/Runs/Current/Final_ResetEvery5/Run01/"

# model = D3DModel(folderpath)

# Test enclosure class

In [3]:
enc_test_file = "/Users/julesblom/Dropbox/TU/Master/Thesis/Runs/Current/Final_ResetEvery5/Run01/36km_1cellchannel_15km.enc"

from JulesD3D.enc import Enclosure

In [4]:
enc = Enclosure(dims=(45, 50))
enc

New Enclosure with xDim 45 and yDim 50

In [5]:
enc_from_file = Enclosure.read(filename=enc_test_file)

     x    y
0    1   75
1   64   75
2   64    1
3   69    1
4   69   75
5  132   75
6  132  182
7    1  182
8    1   75

In [10]:
enc_from_file
enc_from_file.display()

     x    y
0    1   75
1   64   75
2   64    1
3   69    1
4   69   75
5  132   75
6  132  182
7    1  182
8    1   75

# Create new enc by hand

In [7]:
enclosure_options = dict(dims=(40,40), new_enc_filename="hooes.enc", channel_length_index=20, bank_left=16, bank_right=18, )

my_enc = Enclosure(**enclosure_options)

In [8]:
my_enc

New Enclosure with xDim 40 and yDim 40

In [9]:
my_enc.display() # right on

    x   y
0   1  20
1  16  20
2  16   1
3  18   1
4  18  20
5  41  20
6  41  41
7   1  41
8   1  20